[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
python-decouple = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-yasg = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
